
body {
	background-image: url(../img/background.jpg);
	background-size: 100%;
	
}

section {
	width: 90%;
	height: 90%;
	margin-left: 5%;
	
	background-color: #E7B109;
}

#couv {
	height: 90%;
	float: left;
}

#container-livre h1 {
	float: left;
}